<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SendMail >> Send Email</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand text-info" href="{{url_for('home')}}">Team-Fierce</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link" href="{{url_for('home')}}">API Demo</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('send_email')}}">Send Email<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/v1/ui">API Documentation</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="/v1/swagger.json">API Documentation (JSON)</a>
                </li>
        </div>
    </nav>
    <div class="container pt-3">
        <h2 class="banner pt-3">Send Email</h2>
        <br>
        <form action="" class="form" id="mail_form" method="POST">
            <div class="section editor">
                <!-- <div class="form-group">
                    <label for="sender">Sender</label>
                    <input class="form-control" id="sender" type="text" />
                </div> -->
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input class="form-control" id="mail_subject" type="text" required/>
                </div>
                <div class="form-group">
                    <label for="subject">Message</label>
                    <textarea class="form-control" id="mail_message" placeholder="Compose message content" required></textarea>
                </div>
                <div class="form-group">
                    <label for="email">Recipient(s) Email</label><span id="mail_list" class="btn btn-dark float-right btn-sm">From
                        API</span>
                    <textarea class="form-control" id="mail_recipients" value="" placeholder="Separate multiple emails with ," required></textarea>
                </div>
                <div id="mail_msg"></div>
                <div class="form-group pt-3 col-offset-lg-4 col-offset-md-4">
                    <button id="mail_btn">Send Email</button>
                    <div class="form-group float-right"><input id="mail_template" type="checkbox" />&nbsp;<label
                            for="template">Use template</label></div>
                </div>
            </div>
            <br>
            <div id="msg"></div>
        </form>
        <br>
    </div>
    <br>
</body>
<script src="{{url_for('static', filename='js/main.js')}}"></script>

</html>